<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCY9Bf9aWDSiNh5NaZyHri1FwEP3t8Y0Rc</string>
	<key>GCM_SENDER_ID</key>
	<string>131781911617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ABSport.ABSportFirebase</string>
	<key>PROJECT_ID</key>
	<string>absport-68952</string>
	<key>STORAGE_BUCKET</key>
	<string>absport-68952.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131781911617:ios:16fc22e6b67eb84ee052c0</string>
</dict>
</plist>